*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(back.png); 
	height: 100vh;
	background-size: cover;
	background-position: center;	
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 25px;  
}
ul li{
	display: inline-block;
}
ul li {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid;
	transition: 0,6s;
	margin-top: 5px;
}
ul li:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;

}